<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blog Project</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="../../webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../../css/standard.css" rel="stylesheet">
</head>
<body>
	<div th:fragment="taskForm">
		<!-- this fragment is used in both the newTask and edit pages, so the placeholder = "text" is displayed
		for each th:field="*{property}" of the th:object="${task}" in the form to be posted from newTask.html
		and also displays the value of the existing *{property}	of the $task object added to the model from the TaskController method 
		returning the "edit" page -->
		<div class="form-group">
 			<label for="title">Title</label>
 			<input type="text" class="form-control" placeholder="Title..." th:field="*{title}" />
 		</div>
 		<div class="form-group">
 			<label for="description">Description</label>
 			<input type="text" class="form-control" placeholder="Description..." th:field="*{description}" />
 		</div>
 		
 		<div class="form-group">
 			<label for="creator">Creator</label>
 			<input type="text" class="form-control" placeholder="Your Name Here..." th:field="*{creator}" />
 		</div>
 		
 		<div class="form-group">
 			<label for="status">Status</label>
 			<!-- choices of valid statuses listed in dropdown -->
 			<input list="statuses" name="status" class ="form-control" placeholder="Current Status..." th:field="*{status}"/>
	 			<datalist id="statuses">
	 				<option value="Not Started">Not Started</option>
	 				<option value="Ongoing">Ongoing</option>
	 				<option value="On Hold">On Hold</option>
	 				<option value="Complete">Complete</option>
	 				<option value="Canceled">Canceled</option>
	 		</datalist>
 		</div>
	</div>
	<script src="../../webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>