<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> -->
<head>
<title>ToDo Site</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<link href="../../standard.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div th:replace="fragments/navbar"></div>
		<h1>Welcome to Our To-Do List Site!</h1>
		<div class="row">
			<div th:each="do:${taskList}">
				<div class="col-sm-8">
					<div class="row">
						<div class="card text-center bg-light mb-3 text-truncate"
							style="width: 25rem;">
							<div class="card-header">
								<h4 class="card-title" th:text="${do.title}"></h4>
								<p class="card-text" th:text="${do.description}"></p>
							</div>
							<div class="card-body">
								<strong><h5 class="card-text" th:text="${do.creator}" /></h5></strong>
								<p class="card-text" th:text="${do.status}" /></p>

								<div class="btn-group">
									<a th:href="@{'/tasks/view/{id}'(id=${do.id})}">
										<button type="submit" class="btn-primary" th:text="Show">Show
											To-Do Task</button>
									</a>
								</div>

								<div class="btn-group">
									<a th:href="@{'/tasks/update/{id}'(id=${do.id})}">
										<button type="submit" class="btn-success" th:text="Update">Update
											To-Do Task</button>
									</a>
								</div>

								<div class="btn-group">
									<a th:href="@{'/tasks/delete/{id}'(id=${do.id})}">
										<button type="submit" class="btn-danger" th:text="Delete">Delete
											To-Do Task</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/styling :: body-links"></div>
</body>
</html>
