<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> -->
<head>
	<title>ToDo Site</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../../webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../css/standard.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div th:replace="fragments/navbar"></div>
		<h1>Welcome to Our To-Do List Site!</h1>
		<div class="row">
			<div th:each="do:${taskList}">
				<div class="col-md-4">
					<div class="panel panel-default" width="200px">
						<!-- <div class="panel-heading"> -->
						<div class="panel-heading text-nowrap">
							<h3 th:text="${do.title}"></h3>
							<strong><h4 th:text="${do.creator}" /></h4></strong>
							<p th:text="${do.status}" /></p>
						</div>
						<div class="panel-body text-truncate" width="200px">
						<!-- <div class="panel-body"> -->
							<p th:text="${do.description}"></p>
							
						</div>
						<div class="panel-footer">
							
							<!-- <div class="row"> -->
							<div class="btn-group btn-group-justified">
								
								<!-- Link to Show  -->
								<!-- <form action="#" th:action="@{'/tasks/view/{id}'(id=${do.id})}"
									th:method="get" class="form-vertical">
									<div class="form-group">
										<input type="hidden" name="_method" value="get" /> -->
										<div class="btn-group">
											<a th:href="@{'/tasks/view/{id}'(id=${do.id})}"><button type="submit" class="btn-primary"
											th:text="Show">Show To-Do Task</button></a>
										</div>
									<!-- </div>
								</form> -->

								<!-- Link to Update -->
								<!-- <form action="#" th:action="@{'/tasks/update/{id}'(id=${do.id})}"
									th:method="get" class="form-vertical">
									<div class="form-group">
										<input type="hidden" name="_method" value="get" /> -->
										<div class="btn-group">
											<a th:href="@{'/tasks/update/{id}'(id=${do.id})}"><button type="submit" class="btn-success"
											th:text="Update">Update To-Do Task</button></a>
										</div>
									<!-- </div>
								</form> -->

								
								<!--  Link to Destroy -->
								<!-- <form action="#" th:action="@{'/tasks/delete/{id}'(id=${do.id})}"
									th:method="get" class="form-vertical">
									<div class="form-group">
										<input type="hidden" name="_method" value="get" /> -->
										<div class="btn-group">
											<a th:href="@{'/tasks/delete/{id}'(id=${do.id})}"><button type="submit" class="btn-danger"
											th:text="Delete">Delete To-Do Task</button></a>
										</div>
									<!-- </div>
								</form> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div th:replace="/fragments/styling :: body-links"></div> -->
</body>
</html>
