<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Sign Up</title>
    <link th:replace="fragments/bootstrap"></link>
</head>
<body>
    <div class="container">
    	<div th:replace="fragments/navbar"></div>
        <div class="jumbotron col-md-8 col-md-offset-2">
            <h2>New Task</h2><br/>
            <form th:action="@{/tasks}" th:object="${task}" method="post" autocomplete="off" >
                <div th:replace="fragments/taskForm :: taskForm" ></div>
			    <div class="form-group">
			        <button class="btn btn-md btn-success btn-block" name="Submit" value="Submit" type="Submit">Save Task</button>
			    </div>
			</form>
			<div th:if="${successMessage}">
	            <h3><span class="text-success" th:utext="${successMessage}"></span></h3>
	        </div> 
	    </div>
    </div>
</body>
</html>