<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> -->
<head>
<title>ToDo Site</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<link href="../../standard.css" rel="stylesheet">
</head>
<body>
	<div class="container p-3 mb-2 bg-light text-dark">
		<div th:replace="fragments/navbar"></div>
		<h1>Your To-Do Task</h1>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 th:text="${task.title}"></h3>
						<strong><p th:text="${task.creator}" /></p></strong>
					</div>
					<div class="panel-body">
						<h5 th:text="${task.description}"></h5>
					</div>
					<div class="panel-footer">
						<p th:text="${task.status}" /></p>
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<!-- {id} is dynamically generated as for the text above using (id=${task.id})in the literal "@{'path'}" -->
								<a th:href="@{'/tasks/update/{id}'(id=${task.id})}"><button
										class="btn-success">Edit Task</button></a>
							</div>
							<div class="btn-group">
								<a th:href="@{'/tasks/delete/{id}'(id=${task.id})}"><button
										class="btn-danger">Delete Task</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="/fragments/styling :: body-links"></div>
</body>
</html>
